<html>
<head>
  <title>Code With Friends</title>
        <!-- stylesheets -->
        <link rel="stylesheet" href="/stylesheets/codemirror.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/jqconsole.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet' type='text/css'>
        <link  rel="stylesheet" href="/javascripts/codemirror/theme/monokai.css"/>
        <link rel="stylesheet" href="/stylesheets/firepad.css" />
        <!-- Bootstrap and local stylesheet -->
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">


            <!--firebase  -->
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>

          <!-- codemirror -->
            <script src="/javascripts/codemirror.js"></script>
            <script type="text/javascript" src="/javascripts/codemirror/mode/javascript/javascript.js"></script>
        

      
        <!--Required firebase/firepad files -->
          
              <script src="/javascripts/firepad.js"></script> 
             <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>  

             <!-- JS REPL files -->
              <script type="text/javascript" src="/javascripts/jquery.jkey.min.js"></script>
            <script type="text/javascript" src="/javascripts/evaluator.js"></script>

        

        <!-- JQconsole for writing out files -->
        <script type="text/javascript" src="/javascripts/jqconsole.js"></script>

       


</head>
<body>

      <div id="home">
        <div class="container">
          <div class="logo">CODE WITH FRIENDS</div>

      <h1 id="header">
        A text editor that <br>
        <span class="info">helps you collaborate</span>
        <span class="info">wins hackathons</span>
        <span class="info">creates things</span>

      </h1>

      <script type="text/javascript">
//animation that cycles through .info
(function() {

    var quotes = $(".info");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1000)
            .delay(1000)
            .fadeOut(1000, showNextQuote);
    }
    
    showNextQuote();
    
})();
</script>
    

      <a id="moreInfo" class="btn btn-lg btn-danger" href="#compiler">More Info</a>
        </div>
  

    </div>

   <div id="compiler">

     <div class="container"></div>

      <div class="logo">Javascript (press CTRL+SHIFT to run):</div> 
      <br>
        <div class="row"></div>
            <div class="col-md-6">
                <!-- input text area (the firepad part) -->
                <div  id="firepad"></div>

                        <script>
                        //scripts to compile javascript
                           function endsWith(str, suffix) {
                        var index = str.lastIndexOf(suffix);
                        return index >= 0 && index === str.length - suffix.length;
                    }
                    function insert(all, pos, str) {
                        return all.slice(0, pos) + str + all.slice(pos);
                    }

                    // A trailing newline is not included
                    function extractLine(str, pos) {
                        var begin = pos;
                        while(true) {
                            if (begin <= 0) break;
                            if (str.charAt(begin-1) === "\n") {
                                break;
                            }
                            begin--;
                        }
                        var end = pos;
                        while(true) {
                            if (end >= str.length) {
                                // End of text as terminating pseudo-character
                                break;
                            }
                            if (str.charAt(end) === "\n") {
                                break;
                            }
                            end++;
                        }
                        return str.slice(begin, end);
                    }

                    function extractText(textArea) {
                        if (textArea.selectionStart === textArea.selectionEnd) {
                            return extractLine(textArea.value, textArea.selectionStart);
                        } else {
                            return textArea.value.slice(textArea.selectionStart, textArea.selectionEnd);
                        }
                    }

                    function appendResultStr(feedbackStr) {
                        var textArea = document.getElementById('output');
                        
                        // write the output to jqConsole
                        jqconsole.Write(feedbackStr);
                    }

                    function cursorIsAtLineEnd(textArea) {
                        if (textArea.selectionStart !== textArea.selectionEnd) {
                            // There is an active selection
                            return false;
                        }
                        var pos = textArea.selectionStart;
                        if (pos < textArea.value.length) {
                            return (textArea.value.charAt(pos) === "\n");
                        } else {
                            // Cursor is after last character
                            return true;
                        }
                    }

                    function init() {
                        var cons = {
                            log: function (msg) {
                                appendResultStr(msg + "\n");
                            }
                        };
                        var evaluator = new Evaluator(cons);

                        var environment = {};
                        var inputArea = document.getElementById("firepad");
                        //use ctrl+shift to run commands
                        $("#firepad").jkey('ctrl+shift', function () {
                            console.log("x");
                             var prog = ""
                             // get the text currently in firepad
                          $('.CodeMirror-code').children('div').each(function () {
                                
                            $(this).children("pre").each(function () {
                                if (  $(this).text() != "&nbsp;") {
                                    prog = prog + $(this).text(); 
                                   
                                }
                                
                            })
                            
                        });

                           
                            var resultStr = evaluator.evaluate(prog);
                            appendResultStr(resultStr);

                            //create a new line between each input
                            jqconsole.Write("\n");
                            if (cursorIsAtLineEnd(inputArea)) {
                                var pos = inputArea.selectionStart;
                                inputArea.value = insert(inputArea.value, pos, "\n");
                                inputArea.setSelectionRange(pos+1, pos+1);
                            }
                        });
                       
                    }
                    $(document).ready(init);


                    var firepadRef = new Firebase('https://fire-base-test.firebaseio.com/');

                    // settings for our codemirror object
                    var codeMirror = CodeMirror(document.getElementById('firepad'), {mode: "javascript",
                    autofocus: true,
                    lineNumbers: true,
                    theme: "monokai",
                    height: "200px",
                     fontSize: "9pt",
                    autoMatchParens: true,
                    

                });

               var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                  { richTextShortcuts: false, richTextToolbar: false });
            </script>

            </div>

            <div class="col-md-6">
                
                <div id="console"></div>
                   

    <!-- JQconsole script -->
<script>
      $(function() {
        // Creating the console.
        var header = 'Welcome to Code with Friends!\n'
        window.jqconsole = $('#console').jqconsole(header, 'JS> ');

        // Abort prompt on Ctrl+Z.
        jqconsole.RegisterShortcut('Z', function() {
          jqconsole.AbortPrompt();
          handler();
        });
        // Move to line start Ctrl+A.
        jqconsole.RegisterShortcut('A', function() {
          jqconsole.MoveToStart();
          handler();
        });
        // Move to line end Ctrl+E.
        jqconsole.RegisterShortcut('E', function() {
          jqconsole.MoveToEnd();
          handler();
        });
        jqconsole.RegisterMatching('{', '}', 'brace');
        jqconsole.RegisterMatching('(', ')', 'paran');
        jqconsole.RegisterMatching('[', ']', 'bracket');
        // Handle a command.
        var handler = function(command) {
          if (command) {
            try {
              jqconsole.Write('==> ' + window.eval(command) + '\n');
            } catch (e) {
              jqconsole.Write('ERROR: ' + e.message + '\n');
            }
          }
          jqconsole.Prompt(true, handler, function(command) {
            // Continue line if can't compile the command.
            try {
              Function(command);
            } catch (e) {
              if (/[\[\{\(]$/.test(command)) {
                return 1;
              } else {
                return 0;
              }
            }
            return false;
          });
        };

        // Initiate the first prompt.
        handler();
      });
//hacky way to hide the firepade logo. 
//TODO: Actually get rid of the logo
$(".powered-by-firepad").hide();
    </script>

            </div>
   </div>
  
   
   <!-- footer text -->
   <div class="container logo" style="font-size: 12px; text-align: center;">Made with love by Aloke Desai, Ryan Luo, and Mauricio Molina</div>
        
        <!-- Smooth anchor scrolling (for the learnmore button) -->
<script type="text/javascript">
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>