<html>
<head>
  <title>Code With Me</title>
        <!-- stylesheets -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap and local stylesheet -->
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">         
             <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>  

</head>
<body>

      <div id="home">
        <div class="container">
          <div class="logo">CODE WITH ME</div>

      <h1 id="header">
        A text editor that <br>
        <span class="info">helps you collaborate</span>
        <span class="info">wins hackathons</span>
        <span class="info">creates things</span>

      </h1>

      <a id="moreInfo" class="btn btn-lg btn-danger" href="/test">Try It Out</a>
      <a id="privatePad" class="btn btn-lg btn-danger" href="">New Private Pad</a>
      <div id ="description">Code with Me allows you to write and interpret Javascript in real-time with as many collaboraters as you want. It's a completely free Google Docs for code.</div>
   <script type="text/javascript">
   //animation that cycles through .info
(function() {

    var quotes = $(".info");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1000)
            .delay(1000)
            .fadeOut(1000, showNextQuote);
    }
    
    showNextQuote();
    
})();
function randomString(length) {
  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

  for(var i=0; i < length; i++)
    text += possible.charAt(Math.floor(Math.random() * possible.length));

  return text;
}


    //set the href of private to a randomhash
    document.getElementById("privatePad").setAttribute("href","/" + randomString(10));
   </script>
   <!-- footer text -->
        
  </div>
</div>
 <div id="footer">
      <div class="container redtext">
        <p class="muted credit">Made for the 5C Hackathon by Aloke Desai, Ryan Luo, and Mauricio Molina</p>
      </div>
  </div>
</body>
</html>