
<!DOCTYPE html>
<head>
  <title>Code for Friends</title>


        <!-- Bootstrap and local stylesheet -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/firepad.css" />
    <link rel="stylesheet" href="/stylesheets/codemirror.css" />
    <link  rel="stylesheet" href="/javascripts/codemirror/theme/monokai.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jqconsole.css">



    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <!-- codemirror -->
    <script src="/javascripts/codemirror.js"></script>
    <script type="text/javascript" src="/javascripts/codemirror/mode/javascript/javascript.js"></script>
    <!-- Download from http://www.firepad.io/firepad.zip -->
    <script src="/javascripts/firepad.js"></script> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  
   <!-- JS REPL files -->
    <script type="text/javascript" src="/javascripts/jquery.jkey.min.js"></script>
    <script type="text/javascript" src="/javascripts/evaluator.js"></script>
    <!-- JQconsole for writing out files -->
    <script type="text/javascript" src="/javascripts/jqconsole.js"></script>
    <script type="text/javascript" src="http://codemirror.net/addon/display/fullscreen.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

</head>
<body>
 
  <div class="content">


  <div id="firepad"></div>
   <script>
    var firepadRef = new Firebase("https://fire-base-test.firebaseio.com/'");
     var codeMirror = CodeMirror(document.getElementById('firepad'), {mode: "javascript",
                    autofocus: true,
                    lineNumbers: true,
                    theme: "monokai",
                    fontSize: "9pt",
                    fullScreen: true, 
                    autoMatchParens: true});
      
      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
          { richTextShortcuts: true, richTextToolbar: false });
    </script>
  <div class="output">
        <div class="header"></div>
        <div id="console"></div>
    </div>
</div>
        <script type="text/javascript">
        jqconsole();

     $( document ).ready(function() {
      $(".firepad").jkey('ctrl+r', function () {
        jqconsole.Write(evaluator.evaluate(firepad.getText()));

        });
       resize();
    });
   


      $('.header').on('mousedown', function(e){
        var $dragable = $(this).parent(),
            startWidth = $dragable.height(),
            pY = e.pageY;
        
        $(document).on('mouseup', function(e){
            $(document).off('mouseup').off('mousemove');
        });
        $(document).on('mousemove', function(me){
            var mx = (me.pageY - pY);
            
            $dragable.css({
                
                height: startWidth - mx,
            });
        });          
    });
    </script>

    </body>
</html>
