/*#console {
height: 350px;
width: 90%
position:relative;
background-color: rgb(39,40,34) !important;
                    border: 2px solid #CCC;
                    margin: 0 auto;
margin-top: 50px;
}*/
.jqconsole {
  padding: 10px;
  padding-bottom: 10px;
  background-color: #fff !important;
  color: #000;
  font-size: 9pt;
/*  border: none;*/
  border-radius: 0px;
}
.jqconsole-cursor {
  background-color: #000;
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
.jqconsole-prompt {
  color: rgb(55,125,241);
}
.jqconsole-old-prompt {
  color: #000;
  font-weight: normal;
}
.jqconsole-input {
  color: #000;
}
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
.brace {
  color: #00FFFF;
}
.paran {
  color: #FF00FF;
}
.bracket {
  color: #FFFF00;
}
.jqconsole-composition {
  background-color: red;
}
.jqconsole-error{
  color: red;
}
.jqconsole-header{
  color: rgb(55,125,241);
}